<div id="cloud-tie-wrapper" class="cloud-tie-wrapper">
	<!-- 引入光速通行证css代码 -->
		<link rel="stylesheet" href="//c.fansx.com/tc.css"/>
	<!-- 评论框 start --> 
		<div id="tc_s<%=key%>p<%- date(post.date, 'YYYYMDhmmss') %>"></div>
	<!-- 评论框 end -->
	<!-- 光速公共JS代码 start (一个网页只需插入一次) -->
		<script src="//c.fansx.com/?m=c1&sid=<%=key%>&pid=<%- date(post.date, 'YYYYMDhmmss') %>"></script>
	<!-- 光速公共JS代码 end -->
</div>

